extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Expense Manage

  p
    a.btn.btn-raised.btn-sm(href='#')
      i.fa.fa-plus.fa-sm
      | Add

  table#expenses.table.table-hover.table-striped.table-bordered
    thead
      tr
        th #
        th Date
        th Description
        th Amount
        th Comment
        th Actions
      tbody
        each expense, i in expenses
          tr
            td #{i + 1}
            td #{expense.date.toLocaleDateString()}
            td #{expense.description}
            td #{expense.amount}
            td #{expense.comment}
            td
              a.fa.fa-edit(href='#')
              a.fa.fa-trash-alt(href='#')
